@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import "tailwindcss";

@theme {
  --background-image-mobileImage: url(../assets/images/image-product-mobile.jpg);
  --background-image-large-image: url(../assets/images/image-product-desktop.jpg);
  --color-cream: hsl(30, 38%, 92%);
  --color-custom-gray: hsl(228, 12%, 48%);
  --color-custom-black: hsl(212, 21%, 14%);
  --color-custom-white: hsl(0, 0%, 100%);
  --color-custom-green500: hsl(158, 36%, 37%);
  --color-custom-green700: hsl(158, 42%, 18%);
  --font-montserrat: "Montserrat",
    sans-serif;
  --font-fraunces: "Fraunces",
    serif;

}